<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/head') %> 
    
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('partials/navbar') %>
    
    <main>
        <%- content %>
    </main>

        <%- include('partials/footer') %>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
    
        <script type="module" src="/index.js"></script>


    
    </body>
</html>